@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    // Optionally, delete temporary files after processing
    <br>
    System.IO.File.Delete(resumePath);
    <br>
    System.IO.File.Delete(imagePath);
    <a href="https://github.com/Faqihyugos/resume-to-coverletter/blob/main/Controllers/HomeController.cs#L112-L114"
        class="link-primary" aria-label="Privacy policy details">Learn more</a></span>
</p>
